dirsize() {
    du -shc $* | sort -rh
}

setfanspeed() {
    if  [ $1 = 0 ] || [ $1 = 1 ] || [ $1 = 4 ] || [ $1 = 7 ] || [ $1 = "auto" ] || [ $1 = "disengage" ]; then
        sudo echo level $1 | sudo tee /proc/acpi/ibm/fan;
    else
        echo "Invalid parameter, must be none, 0, 1, 2, 4, 7, auto, or disengage"
    fi
}

getfanspeed() {
    cat /proc/acpi/ibm/fan
}
